.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  margin: 8px 0;
}

.listItem:hover {
  background-color: #e2e5e8;
  /* cursor: pointer; */
}